<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD7iuv0d92gjjCt-4e2mqONNCVxlP3Phk</string>
	<key>GCM_SENDER_ID</key>
	<string>238384064777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mordor.Foody</string>
	<key>PROJECT_ID</key>
	<string>pizzashop-d82a1</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzashop-d82a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238384064777:ios:98530ad4518fe7e6ac8bd8</string>
</dict>
</plist>